.headerlogo{
    max-width: 300px;
    height: auto;
}


.nav-link{
    font-weight: bolder;
    
}

a:link {
    color:rgb(0, 247, 255);
  }
  a:visited {
    color:rgb(153, 0, 255);
  }
  a:hover {
    color:rgb(0, 247, 255);
  }